

.product-item{

  text-align: center;
  padding: 15px;
  img{
    height: 200px;
    width: 250px;
  }

  .product-price{
    font-weight: bold;
    color: darkorange;
    margin-top: 10px;
  }

  background-color: #F0F0F0;
}
